@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.container {
  width: 700px;
  margin: 50px auto;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0;
  color: white;
}

.container > h2 {
  color: #A0A0A0;
}

.container > p {
  color: #494949;
}

.link-color {
  background-color: #CFE8EF;
  color: #636363;
  text-decoration: none;
  font-size: 24px;
  font-style: italic;
}

.link-color:hover {
  background-color: #85C7DE;
}

.text-justify {
  text-align: justify;
}

h2 {
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
}

a, p {
  font-family: "Lora", serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.6;
}

.text-bolder {
  font-family: Impact, sans-serif;
  font-weight: 200;
}

body {
  margin: 0px;
}
